*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    height: 100%;
    width: 100%;
     display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}

.productcard{
    height: 350px;
    width: 450px;
    background-color: orange;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-direction: column;
    padding-left: 20px;
}

.text{
    color: orange;
    font-size: 100px;
}