*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    height: 300px;
    width: 300px;
    background-color: orange;
    padding: 20px;
     display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 30px;
}