*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
     display:flex;
  align-items: flex-start;
  justify-content: center;
}

.box{
  height: 300px;
  width:500px;
  border: 2px solid black;
  border-radius: 10px;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  gap: 30px;
}