* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  gap:20px;
  flex-wrap: wrap;
}

.box{
  height: 200px;
  width: 200px;
}