
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button{
    padding: 10px 40px ;
    border-radius: 10px ;
    border: none;
    background-color: orange;
} */

.box{
    height: 200px;
    width: 200px;
    background-color: orange;
}
