
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* button{
    padding: 10px 40px ;
    border-radius: 10px ;
    border: none;
    background-color: orange;
} */

i{
    font-size: 50px;
}

.card{
    height: 300px;
    width: 300px;
    background-color: orange;
    display: none;
}

.open{
    display: block;
    border-radius: 30px;
}