
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* button{
    padding: 10px 40px ;
    border-radius: 10px ;
    border: none;
    background-color: orange;
} */

/* i{
    font-size: 50px;
}

.card{
    height: 300px;
    width: 300px;
    background-color: orange;
    display: none;
}

.open{
    display: block;
    border-radius: 30px;
} */


form{
    height: 280px;
    width: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding:0px 30px;
}

form input{
    height: 37px ;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}

form input:focus{
    outline: none;
}

button{
    padding: 10px ;
    border: none;
    border-radius: 10px;
}